.slick-dots{ 
    border-radius: 10px;
    li.slick-active {
        line-height: 20px;
        .changeBack {
            border-radius: 10px;
            background-color: #3d1659;
            transition: .8s;
        }
    }
}

